.search {
  display: grid;
  gap: 2rem;
}

.box {
  padding: 1.5rem 2rem;
  background-color: var(--surface);
  border-radius: var(--rounded-card);
}

.search-card {
  display: flex;
  gap: 1rem;
}

.image {
  width: 4rem;
  height: 4rem;
  border-radius: var(--rounded);
}

.details {
  gap: 1rem;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
}

.status {
  font-weight: 500;
  color: var(--text-variation);
}
