.section {
  display: grid;
  gap: 2rem;
}

.requests {
  display: grid;
  gap: 0.5rem;
}

.request {
  composes: box from "./Search.module.css";
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
