.header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;

  margin-bottom: 2rem;
  align-items: center;
}

.logo {
  width: fit-content;
  font-size: 1.5rem;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search {
  padding: 0.5rem 3rem;
  margin: auto;
}

.nav {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

@media (max-width: 1000px) {
  .search {
    background-color: transparent;
    padding: 0;
  }
  .search span {
    display: none;
  }
}
